<ion-side-menus enable-menu-with-back-views="false" ng-controller="NewsCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-{{appColor}}" align-title="center">
      <ion-nav-back-button class="button-clear">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
      	<ion-spinner ng-if="$root.showExtraButton" icon="spiral"></ion-spinner>
        	<a class="button button-icon button-clear ion-ios-search" ui-sref="news.search">
        	</a>
        	<a class="button button-icon button-clear ion-gear-b" ui-sref="news.settings">
        	</a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuWorPress"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
  	 <ion-header-bar class="bar bar-{{appColor}}">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close-keep-history href="#/news/home" class="item-icon-left">
        	<i class="icon ion-ios-home"></i>
          Home
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/categories" class="item-icon-left">
        	<i class="icon ion-ios-pricetag-outline"></i>
          Categories
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/category/5/Top news" class="item-icon-left">
        	<i class="icon ion-arrow-graph-up-right"></i>
          Top news
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/category/6/Sports" class="item-icon-left">
        	<i class="icon ion-ios-baseball-outline"></i>
          Sports
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/about" class="item-icon-left">
        	<i class="icon ion-person"></i>
          About
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/contact" class="item-icon-left">
        	<i class="icon ion-email"></i>
          Contact
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/settings" class="item-icon-left">
        	<i class="icon ion-gear-b"></i>
          Settings
        </ion-item>
        <ion-item menu-close-keep-history href="#/news/admob" class="item-icon-left">
        	<i class="icon ion-cash"></i>
          Admob
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>